treefile = test.tre
smooth = 100
numsites = 4110774
mrca  = COLELAP Chironius_exoletus_SRS2115290 Micrurus_brasiliensis_SRS2115293
min = COLELAP 30.9
max = COLELAP 46.75
mrca  = COLVIP Bothrops_moojeni_SRS2115279 Raclitia_indica_LSUHC_11748
min = COLVIP 45.74
max = COLVIP 58.63
mrca  = COLHOMELA Brachyorrhos_albus_FMNH134323 Micrurus_brasiliensis_SRS2115293
min = COLHOMELA 37.59
max = COLHOMELA 49.32
outfile = intree_ALL_Burbrink_NoGeo.dated.tre
thorough
prime        #After you run treePL once, change the parameters below to the suggested changes and then comment out line 15 (prime)
opt = 2
optad = 2
moredetailad
optcvad = 2
